<div class="frame">
    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text">
                <p class="small"></p>
                <h2>Welcome to <br>Masakali Indian Cuisine</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed bibendum odio. Nullam eget
                    pretium
                    nisi. Quisque ac suscipit diam. Donec nec mattis ex, et rutrum dolor. Maecenas ac tincidunt justo.
                    Nulla
                    ultricies suscipit justo, ut hendrerit risus.
                </p>
            </div>
            <!-- <div class="about-img">
                <img src="https://images.vexels.com/media/users/3/217169/isolated/preview/151076db354fdd8118346adffac672ac-restaurant-facade-stroke.png" alt="food" />
            </div> -->
        </div>
    </section>
</div>