<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small"></p>
            <h2>Masakali Indian Cuisine</h2>
            <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed bibendum odio. Nullam eget
                pretium
                nisi. Quisque ac suscipit diam. Donec nec mattis ex, et rutrum dolor. Maecenas ac tincidunt justo.
                Nulla
                ultricies suscipit justo, ut hendrerit risus.
            </p> -->
        </div>
        <div class="about-img">
                <img src="../../assets/aboutUs.png" alt="aboutUs" />
            </div>
    </div>
</section>